@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import "../fonts/font-awesome.min.css";
@import "../scss/navigation";
@import "../scss/firstsection";
@import "../scss/sectionimages";
@import "../scss/lastarticle";
$background: #E4E4E4;
$fontcolor:  #444444;
$backgroundlogo: #FC4887;
$blueborder: #1691C3;
$backgroundbody: #ececec;

h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
  font-weight: lighter;
}

h1, h2, h3 button{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.header-images-article{
  font-size: 25px;
  text-align: left;
  margin-bottom: 0;
}
.images-article-info{
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  min-width: 375px;
  background-color:  $background;
}

.container{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  
}

a{
  text-decoration: none;
}


